{%extends 'base.html.twig'%}
{%block title%}Boutique{%endblock%}
{%block body%}
	<p>Boutique</p><br/>
	<div class="tab">
		<button class="tablink" onclick="openShopCategory(event,'news_category')">Nouveautés</button>
		<button class="tablink" onclick="openShopCategory(event,'weapons_category')">Armes</button>
		<button class="tablink" onclick="openShopCategory(event,'skins_category')">Skins</button>
	</div>

	<div id="news_category" class="tab_content">
		{% for new in news %}
			<div class="item_shop">
				<p class="item_label">{{ new.getObjectLabel() }}</p>
				<p class="item_category">{{ new.getObjectCategoryId().getObjectCategoryLabel() }}</p>
				<img class="item_icon" src="{{ asset('favicon.ico')}}"/>
				<p class="item_price">{{ new.getObjectPrice() }} Crédits</p>
				<button class="item_buy" onclick="buyItem(event,'{{new.getObjectId()}}')">Acheter</button>
			</div>
		{% endfor %}
	</div>
	<div id="weapons_category" class="tab_content">
		{% for weapon in weapons %}
			<div class="item_shop">
				<p class="item_label">{{ weapon.getObjectLabel() }}</p>
				<p class="item_category">{{ weapon.getObjectCategoryId().getObjectCategoryLabel() }}</p>
				<img class="item_icon" src="{{ asset('favicon.ico')}}"/>
				<p class="item_price">{{ weapon.getObjectPrice() }} Crédits</p>
				<button class="item_buy" onclick="buyItem(event,'{{weapon.getObjectId()}}')">Acheter</button>
			</div>
		{% endfor %}
	</div>
	<div id="skins_category" class="tab_content">
		{% for skin in skins %}
			<div class="item_shop">
				<p class="item_label">{{ skin.getObjectLabel() }}</p>
				<p class="item_category">{{ skin.getObjectCategoryId().getObjectCategoryLabel() }}</p>
				<img class="item_icon" src="{{ asset('favicon.ico')}}"/>
				<p class="item_price">{{ skin.getObjectPrice() }} Crédits</p>
				<button class="item_buy" onclick="buyItem(event,'{{skin.getObjectId()}}')">Acheter</button>
			</div>
		{% endfor %}
	</div>
{%endblock%}
{% block javascripts %}
	{{ parent() }}
	<script>
		function openShopCategory(event, shop_category){
			var contents = document.getElementsByClassName('tab_content');
			for(var i = 0;i < contents.length; i++){
				contents[i].style.display = 'none';
			}

			var tablinks = document.getElementsByClassName('tablink');
			for(var i = 0;i < tablinks.length;i++){
				tablinks[i].className = tablinks[i].className.replace(' active','');
				tablinks[i].style.backgroundColor = '';
			}

			document.getElementById(shop_category).style.display = 'block';
			event.currentTarget.className += ' active';
			event.currentTarget.style.backgroundColor = 'gray';
		}

		window.addEventListener('load', function(){
			document.getElementsByClassName('tablink')[0].click();
		})

		function buyItem(event, itemId){
			var xhr = new XMLHttpRequest();
			xhr.open('GET','{{app.request.getSchemeAndHttpHost() ~ app.request.baseurl()}}' + '/shop/buy/' + itemId, true);
			xhr.setRequestHeader('X-Requested-With','XMLHttpRequest');

			xhr.onreadystatechange = function(){
				if(xhr.readyState == 4 && (xhr.status == 200 || xhr.status == 0)){
					var flash_message_container = document.getElementById('flash_messages');
					var flash_message = document.createElement("p");
					console.log(xhr.responseText);
					var response = JSON.parse(xhr.responseText);
					flash_message.appendChild(document.createTextNode(response.message[1]));
					flash_message.className = "flash_message " + response.message[0];
					flash_message.addEventListener("animationend", function(event){
						event.target.style.display = 'none';
					});
					//flash_message_container.parentNode.insertBefore(flash_message, flash_message_container.nextSibling);
					flash_message_container.appendChild(flash_message);
				}
			}

			xhr.send();
		}
	</script>
{% endblock %}